@page
@model CoreCruds.Pages.Destinaton.IndexModel

@{
    ViewData["Title"] = "Destination";
}

<h1>Destination</h1>

<head>
    <style>

        body {
            background-image: url(https://upload.wikimedia.org/wikipedia/commons/d/df/El_viaxeru_d%27Urculo.JPG);
            background-position: center;
            background-repeat: no-repeat;
            background-size: 1720px 1080px;
            border: 0;
            max-width: 100%;
            height: auto;
            vertical-align: middle;
        }
    </style>
</head>


<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table table-dark table-bordered table-striped">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Destinations[0].DestinationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Destinations[0].Altitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Destinations[0].CostOfTrip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Destinations[0].MainAttraction)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Destinations[0].EquatorialWeather)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Destinations[0].DateOfVisit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Destinations[0].Location)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Destinations)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DestinationName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Altitude)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CostOfTrip)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MainAttraction)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EquatorialWeather)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfVisit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location.CountryName)
                </td>
                <td>
                    <a class="text-primary" asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                    <a class="text-primary" asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                    <a class="text-danger" asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


