@page
@model CoreCruds.Pages.Destinaton.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Destinations[0].DestinationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Destinations[0].Altitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Destinations[0].CostOfTrip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Destinations[0].MainAttraction)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Destinations[0].EquatorialWeather)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Destinations[0].DateOfVisit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Destinations[0].Location)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Destinations) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DestinationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Altitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CostOfTrip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MainAttraction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EquatorialWeather)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfVisit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location.ID)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
