@page
@model CoreCruds.Pages.Countries.IndexModel

@{
    ViewData["Title"] = "Country";
}

<h1>Country</h1>

<head>
    <style>

        body {
            background-image: url(https://upload.wikimedia.org/wikipedia/commons/c/c0/1_times_square_night_2013.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: 1720px 1080px;
            border: 0;
            max-width: 100%;
            height: auto;
            vertical-align: middle;
        }
    </style>
</head>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table table-dark table-bordered table-striped">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Country[0].CountryName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Country)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CountryName)
                </td>
                <td>
                    <a class="text-primary" asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                    <a class="text-primary" asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                    <a class="text-danger" asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


