@page
@model CarDealership.Pages.MakeTypes.IndexModel

@{
    ViewData["Title"] = "Make Types";
}

<h1 style="color:black;">Make Types</h1>

<p>
    <a asp-page="Create">Create New Make Types</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MakeType[0].Make_Type)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.MakeType) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Make_Type)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
